.APT{
    width: 290px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    margin-bottom: 15px;
    /* padding: 15px; */
    background-color: rgb(232, 165, 41);
}
.descList{
    color: black;
    padding-left: 20px;
    text-align: left;
}
.DESC{
    margin: 2.5px;
    border-radius: 15px;
    background: rgb(113, 204, 237);
    color: black;
    padding: 10px;
}
.price{
   color: black;
   display: flex;
   justify-content: center;
   gap: 15px;
   font-size: 20px;
}
.product-title{
    font-size: 18px;
    margin-bottom: 25px;
}
.newPrice{
    cursor: pointer;
}